* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'EB Garamond', serif;
    padding-left: 5%;
    padding-right: 5%;
}

body {
    margin: 0 auto 10% auto;
    max-width: 125ch;
}

.title {
    margin-top: 50pt;
    font-size: 20pt;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0pt;
}

h3 {
    display: inline-block;
    margin-top: 1.5ch;
    margin-bottom: 0pt;
}